{% extends "registration_container.html" %}


{% block regcontent %}
    
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p class="error">Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                    {% endif %}
                {% endif %}
                
                <form style="margin-top:20px;" method="post" action="{% url 'login' %}">
                {% csrf_token %}

                {% if form.username.errors %} {{ form.username.errors }} {% endif %}
                <input class="form-control" type="text" name="username" required="" autofocus="" id="id_username" placeholder="login">

                {% if form.password.errors %} {{ form.password.errors }} {% endif %}
                <input style="margin-top:10px;" class="form-control" type="password" name="password" required="" id="id_password" placeholder="password">
                
                <div>
                  <input style="margin-top:20px;" type="submit" class="btn btn-dark round" value="Login" /> 
                
                  <input type="hidden" name="next" value="{{ next }}" />
                </div>
                </form>

                


    


{% endblock %}
