{% extends "registration_container.html" %}


{% block regcontent %}
            {% if validlink %}
                <h3>Reset your Password</h3>
                <h5>Please enter (and confirm) your new password.</h5>
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    {% if form.new_password1.errors %} {{ form.new_password1.errors }} {% endif %}
                    {{ form.new_password1 }}
                    {% if form.new_password2.errors %} {{ form.new_password2.errors }} {% endif %}
                    {{ form.new_password2 }}
                        
                    <input type="submit" class="flat_yellow_btn" value="Change my password" /></td>
                    
                </form>
            {% else %}
                <h3>Password reset failed</h3>
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            {% endif %}

    </div>

    


{% endblock %}