{% load url_template_tags %}

Dear {{ user.get_username }},

Welcome to EisphorIA Data Intelligence! {{user.profile.invitedBy}}

As a last step before accessing to our database system, you are invited to set your Password. To do so, please click the link below and follow the instructions.

{{""|apiURL}}{% url 'password_reset_confirm' uidb64=uid token=token %}

In order to use the system in a best way, please check a quick manual here: https://eisphoria.com/static/docs/UserGuide.pdf

Please contact support@eisphoria.com for any technical question. 

The EisphorIA Team 
